.green {
    color: green;
}
.red {
    color: red;
}

img.vote {
  height: 16px;
  margin: 10px;
}

.voting {
    margin: auto;
    display: block;
    width: 120px;
}

.error {
    background: lightgray;
    border: darkgray 1px solid;
    padding: 5px;
    border-radius: 5px;
    color: darkred;
}