
<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h3 id='assetName'>Recent news:</h3>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-success" data-toggle="modal" data-target="#addAssetModal"> + Report News</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      
          <div class="news" *ngFor="let asset of allAssets">
              <a href="http://{{asset.contentUrl}}/" target="_blank"> 
                <div class='linkdiv'>

                  <img *ngIf="asset.title.indexOf('Merkel') !== -1" [src]="'assets/merkel.png'" class='img-thumbnail img-responsive'/>
                  <img *ngIf="asset.title.indexOf('Apple') !== -1" [src]="'assets/apple.jpg'" class='img-thumbnail img-responsive'/>
                  <img *ngIf="asset.title.indexOf('iPhone') !== -1" [src]="'assets/iphone.jpg'" class='img-thumbnail img-responsive'/>
                  <img *ngIf="asset.title.indexOf('Trump') !== -1" [src]="'assets/trump.jpg'" class='img-thumbnail img-responsive'/>
                  
                  
                  <div class='allmeta'>
                    <div class="headline">
                      <span class="author">{{asset.author === "resource:org.acme.sample.NewsAgency#1" ? "Bloomberg" : (asset.author === "resource:org.acme.sample.NewsAgency#2" ? "Bild": "Fox")}}</span>:
                      <span class="title">{{asset.title}}</span>
                    </div>

                    <div class="meta">
                      <span>{{asset.timestamp | date:'fullDate'}}</span>                
                        <span><app-Vote [newsItem]="asset"></app-Vote></span>
                    </div>
                  </div>
                </div>
            
            </a> 

            <div class="mt-2"><hr></div>
  
          </div>
       
    </div>
  </div>
</div>
