<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add News</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">

            
              <div class="form-group text-left">
                <label for="title">Title: </label>
                
                  <input formControlName="title" type="text" class="form-control">
                
              </div>
            
          
            
              <div class="form-group text-left">
                <label for="contentUrl">URL of the article: </label>
                
                  <input formControlName="contentUrl" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="contentHash">Content hash <a href="https://gist.github.com/qutorial/88689eb59d503f7b3c7a91ea3515fa0c">(SRI):</a></label>
                
                  <input formControlName="contentHash" type="text" class="form-control">
                
              </div>

              <div class="form-group text-left">
                  <label for="references">References: </label>
                  
                    <input type="text" class="form-control">
                  
                </div>
            

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h3 id='assetName'>Manage the votes here</h3>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-success" data-toggle="modal" data-target="#addAssetModal"> + Report News</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead class="thead">
          <tr class="thead-cols">

                <th class="">Author</th>
            
                <th class="">Title</th>
            
                <th class="">Date</th>

                <th class="">Rating</th>
            
                <th class="">Link</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.author === "resource:org.acme.sample.NewsAgency#1" ? "Bloomberg" : "Bild"}}</td>
            
                <td>{{asset.title}}</td>

                <td class="col-md-1">{{asset.timestamp | date:'fullDate'}}</td>
            
                <td><app-Vote [newsItem]="asset"></app-Vote></td>
            
                <td><a href="http://{{asset.contentUrl}}/" target="_blank">{{asset.contentUrl}}</a></td>
  
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
