<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="newsItemId">newsItemId</label>
                
                  <input formControlName="newsItemId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="author">author</label>
                
                    <textarea formControlName="author" class="form-control" rows="3"></textarea>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="title">title</label>
                
                  <input formControlName="title" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="votes">votes</label>
                
                  <input formControlName="votes" type="number" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="contentUrl">contentUrl</label>
                
                  <input formControlName="contentUrl" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="contentHash">contentHash</label>
                
                  <input formControlName="contentHash" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="timestamp">timestamp</label>
                
                  <input formControlName="timestamp" type="text" class="form-control">
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="newsItemId">newsItemId</label>

              
                <input [ngModel]="newsItemId"formControlName="newsItemId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="author">author</label>

              
                
                  <textarea [ngModel]="author" formControlName="author" class="form-control" rows="3"></textarea>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="title">title</label>

              
                <input [ngModel]="title"formControlName="title" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="votes">votes</label>

              
                <input [ngModel]="votes" formControlName="votes" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="contentUrl">contentUrl</label>

              
                <input [ngModel]="contentUrl"formControlName="contentUrl" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="contentHash">contentHash</label>

              
                <input [ngModel]="contentHash"formControlName="contentHash" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="timestamp">timestamp</label>

              
                <input [ngModel]="timestamp"formControlName="timestamp" type="text" class="form-control">
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>NewsItem</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">newsItemId</th>
            
                <th class="info">author</th>
            
                <th class="info">title</th>
            
                <th class="info">votes</th>
            
                <th class="info">contentUrl</th>
            
                <th class="info">contentHash</th>
            
                <th class="info">timestamp</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.newsItemId}}</td>
            
                <td>{{asset.author}}</td>
            
                <td>{{asset.title}}</td>
            
                <td>{{asset.votes}}</td>
            
                <td>{{asset.contentUrl}}</td>
            
                <td>{{asset.contentHash}}</td>
            
                <td>{{asset.timestamp}}</td>
            
            <td>
              <button (click)="getForm(asset.newsItemId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.newsItemId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
